.Applink {
  color: #61dafb;
}

.pageBodydesktop {
  margin-top: 80px;
  margin-bottom: 80px;
  display: grid;
  justify-content: center;
}

.pref_containerdesktop, .pref_containermobile {
  display: flex;
  justify-content: flex-start;
  flex-flow: column;
  margin-left: 10px;
  margin-right: 10px;
  width: 90vw;
  max-width: 600px;
  min-width: 300px;
}

.settings_listdesktop {
  padding-left: 0px;
}

.settings_listdesktop li {
  list-style-type: none;

  padding-bottom: 10px;
  padding-top: 10px;
}

.settings_listdesktop li:last-child {
  border: none;
  padding-bottom: 0px;
}

.settings_listdesktop li:first-child {
  padding-top: 0px;
}



.emailBtnsContainer {
  display: flex;
  justify-content: space-between;
}

.btns_container1 {
  text-align: end;
}

.next_btn {
  margin-top: 10px;
}

.dialog_btn_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dialog_btn_container p {
  margin: 16px;
}

.delete_btn {
  margin-top: 15px;
}

.description {
  overflow-wrap: break-word;
}


.phone_number_container {
  display: flex;
  flex-flow: column;
  margin-top: 25px;
  margin-bottom: 25px;
}

.phone_number_pdesktop {
  font-size: 19pt;
  margin: 0;
}

.phone_number_pmobile {
  margin: 0;
  font-size: 16pt;
}

@media screen and (max-width: 830px) {

}


.responses_list {
  padding: 0;
}

.responses_list_li {
  list-style-type: none;

  padding-bottom: 10px;
  padding-top: 10px;

  display: flex;
  flex-flow: column;
  align-items: end;

  border-bottom: solid grey 1px;
}

.responses_list li:first-child {
  padding-top: 0px;
}

.responses_list li:last-child {
  padding-bottom: 0px;
  border: none;
}

.responses_container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin-top: 40px;
}

.response_status_pdesktop, .response_status_pmobile {
  width: 100px;
  text-align: right;
  margin-left: 16px;
}

.responses_amountdesktop, .response_post_statusdesktop, .response_post_statusmobile {
  margin-right: 0;
  margin-left: auto;
}

.responses_amountmobile {
  margin-right: 0;
  margin-left: auto;
  font-size: 12px; 
}

.dots {
  max-width: 24px;
  margin-left: 16px;
}

.post_name_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: -webkit-fill-available;
}

.post_name_container1 {
  display: flex;
  align-items: center;
}

.post_titlemobile:hover, .post_titledesktop:hover, .dots:hover, .post_name_container1:hover, .response_post_statusdesktop:hover, .response_post_statusmobile:hover {
  opacity: 0.8;
  cursor: pointer;
}

.user_namedesktop, .user_namemobile {
  margin: 0;
}

.user_namemobile, .response_post_statusmobile, .response_status_pmobile, .refresh_txtmobile, .post_titlemobile {
  font-size: 12px;
}

.list_labeldesktop {
  font-size: 20pt;
}

.list_labelmobile {
  font-size: 22px;
}

.refresh_icndesktop {
  max-width: 24px;
  max-height: 24px;
}

.refresh_icnmobile {
  max-width: 20px;
  max-height: 20px;
}

.responses_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.refresh {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.refresh:hover {
  opacity: 0.8;
  cursor: pointer;
}

.post_dropdown_container {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 90px;
  border: 1px solid;
  border-radius: 10px;
  top: -15px;
  z-index: 3;
}

@media (prefers-reduced-motion: no-preference) {
  .loading_circle {
    animation: loading_circle_spin infinite 1s linear;
  }
}

@keyframes loading_circle_spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 830px) {

}